*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.containerMain::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(162, 0, 255, 0.281);
}
.containerMain::-webkit-scrollbar-thumb{
    border-radius:12px;
    background-color: rgb(193, 1, 252);
}
.server{
    align-self: self-end;
    width: 250px;
    justify-content: end;
    margin-top: 5px;
    margin-left: 0;
    border:2px solid white;
    border-radius:4px;
    padding: 7px;
}
.client{
    margin-top: 5px;
    align-self: self-start;
    justify-content: flex-start;
    width: 250px;
    border: 2px solid white;
    border-radius:4px;
    padding: 7px;
}